{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex items-end">
        <div class="w-full mt-18 md:mt-16">

            <div class="w-full relative leading-zero bg-blue">
                {% set image = entry.landingImage.one() %}
                <img src="{{ image.getUrl('fullWidthSlim') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}" />
                <div class="prompt w-full lg:absolute lg:pin-b leading-tight px-4 md:px-20 py-4 sm:py-8 md:py-12">
                    <h1 class="text-xl sm:text-2xl md:text-4-5xl text-white font-bold uppercase lg:pb-4">Our Community Projects</h1>
                </div>
            </div>

        </div>
    </section>

    <section class="flex flex-wrap px-4 md:px-20 py-16 pt-6 md:pt-16">
        {% if entry.paragraph|length %}
            <div class="w-full md:w-1/2">
                {{ entry.paragraph|nl2br|retconAttr('p', { class: 'text-lg md:text-2xl leading-normal text-black max-w-sm pb-6' })|retconAttr('a', { class: 'text-black font-bold no-underline hover:text-blue' }) }}
            </div>
            <div class="w-full md:w-1/2">
            </div>
        {% endif %}
        {% set communityProjects = craft.entries.section('communityProject') %}
        {% set projectLength = communityProjects|length %}

        {% if projectLength >= 1 %}
            {% for projects in communityProjects.all() %}
                {% if loop.index is odd %}
                    <div class="w-full md:w-1/2 pt-10 md:pr-4">
                        {% set image = projects.landingImage.one() %}
                        <img src="{{ image.getUrl('standard') }}" class="w-full" alt="{{ projects.title }}" title="{{ projects.title }}" />
                        <h4 class="font-bold font-base pt-2">{{ projects.title }}</h4>
                        <p class="text-sm leading-normal text-black py-2">
                            {{ projects.intro }}
                        </p>
                        <h5 class="text-sm text-blue uppercase"><a href="{{ projects.url }}" class="text-blue no-underline border-b border-white hover:border-blue">Find out more <img src="/assets/img/right-caret.svg" class="inline-block -mb-tiny pl-1" /></a></h5>
                    </div>
                {% else %}
                    <div class="w-full md:w-1/2 pt-10 md:pl-4">
                        {% set image = projects.landingImage.one() %}
                        <img src="{{ image.getUrl('standard') }}" class="w-full" alt="{{ projects.title }}" title="{{ projects.title }}" />
                        <h4 class="font-bold font-base pt-2">{{ projects.title }}</h4>
                        <p class="text-sm leading-normal text-black py-2">
                            {{ projects.intro }}
                        </p>
                        <h5 class="text-sm text-blue uppercase"><a href="{{ projects.url }}" class="text-blue no-underline border-b border-white hover:border-blue">Find out more <img src="/assets/img/right-caret.svg" class="inline-block -mb-tiny pl-1" /></a></h5>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-lg md:text-2xl leading-normal text-black max-w-sm">No community projects published yet.</p>
        {% endif %}
    </section>

{% endblock %}
