{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex w-full bg-blue md:justify-center pt-26" {% if entry.landingImage|length %}style="background: url('{{ entry.landingImage.one().getUrl('general') }}') no-repeat; background-position: center top; background-size: cover;"{% endif %}>
        <div class="hidden lg:block lg:w-1/4">
        </div>
        <div class="w-full md:w-4/5 lg:w-1/2 bg-grey p-10 mx-4 md:mx-0 mt-32 md:mt-48 mb-32 px-4 md:px-20">
            <div class="flex w-full justify-center">
                <h1 class="text-2xl text-center font-bold text-black uppercase text pb-6">{{ entry.title }}</h1>
            </div>
            {% macro errorList(errors) %}
                {% if errors %}
                    <ul class="errors">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            <form method="post" action="" accept-charset="UTF-8" id="contact-form" class="flex flex-wrap">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">
                {{ redirectInput('thank-you') }}

                <input id="location" class="hidden" name="location" type="text">

                <div class="flex flex-wrap sm:flex-no-wrap w-full">
                    <input id="full-name" type="text" name="fromName" class="w-full border focus:border-blue-lightest focus:outline-none my-3 p-4" value="{{ message.fromName ?? '' }}" placeholder="Full Name*" required>
                    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
                </div>

                <div class="w-full">
                    <input id="from-email" type="email" name="fromEmail" class="w-full border focus:border-blue-lightest focus:outline-none my-3 p-4" value="{{ message.fromEmail ?? '' }}" placeholder="Email Address*" required>
                    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                </div>

                <div class="w-full">
                    <input id="phone-number" type="text" name="message[Phone Number]" class="w-full border focus:border-blue-lightest focus:outline-none my-3 p-4" placeholder="Phone Number">
                </div>

                <div class="w-full">
                    <input id="post-code" type="text" name="message[Post Code]" class="w-full border focus:border-blue-lightest focus:outline-none my-3 p-4" placeholder="Post Code">
                </div>

                <div class="w-full mt-2 mb-1">
                    <label for="enquiry" class="uppercase font-bold text-grey-darkest py-4">Enquiry type:</label>
                </div>

                <select name="message[Enquiry]" data-placeholder="What is your Enquiry?" id="enquiry" class="select w-full border rounded-none appearance-none focus:border-blue-lightest focus:outline-none mt-2 mb-3 p-4" required>
                  {% for value in entry.contactEnquiry.all() %}
                    <option value="{{ value.contactTitle }}">{{ value.contactTitle }}</option>
                  {% endfor %}
                </select>

                <div class="w-full">
                    <textarea rows="10" cols="40" id="message" name="message[body]" class="w-full border focus:border-blue-lightest focus:outline-none my-3 p-4" placeholder="Any other questions?">{{ message.message ?? '' }}</textarea>
                    {{ message is defined and message ? errorList(message.getErrors('message')) }}
                </div>

                <div class="flex w-full justify-center my-8">
                    <input type="submit" value="Send to us" class="cursor-pointer bg-blue text-xs-plus text-center font-semibold tracking-wide text-white uppercase px-12 py-4">
                </div>

            </form>
        </div>
        <div class="hidden lg:block lg:w-1/4">
        </div>
    </section>

{% endblock %}
