{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex items-end">
        {% set slideLength = entry.slider|length %}
        <div class="{% if slideLength > 1 %}landing-slider{% endif %} w-full mt-18 md:mt-16">

            {% for slide in entry.slider.all() %}
                <div class="w-full relative leading-zero bg-blue">

                    {% set image = slide.image.one() %}

                    <img src="{{ image.url('fullWidthSlim') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}"/>
                    {% for prompt in slide.prompt.all() %}
                        <div class="hidden md:block prompt w-full relative sm:absolute pin-b leading-tight px-4 md:px-20 py-8 md:py-12 pr-4 md:pr-20">
                            {% if prompt.promptTitle|length %}
                                <h1 class="text-2xl md:text-4-5xl text-black sm:text-white font-bold uppercase {% if prompt.promptSentence|length %}pb-4{% endif %}">{{ prompt.promptTitle }}</h1>
                            {% endif %}
                            {% if prompt.promptSentence|length %}
                                <p class="max-w-sm text-sm leading-normal text-black sm:text-white pb-4 md:pb-0">
                                    {{ prompt.promptSentence }}
                                </p>
                            {% endif %}
                            {% set promptLink = prompt.promptLink.all() %}
                            {% if promptLink|length %}
                                {% for link in promptLink %}
                                    <div class="w-full">
                                        <a href="{{ link.url }}" class="inline-block px-6 py-3 border-2 border-blue sm:border-white hover:bg-white hover:border-blue-darker hover:text-black no-underline uppercase text-xs md:text-upper-sm text-blue sm:text-white mt-2 md:mt-6">{% if prompt.linkText|length %}{{ prompt.linkText }}{% else %}Learn More{% endif %}</a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </section>

    {% if entry.icons|length %}
        <div class="flex flex-wrap w-full relative items-center justify-center text-center bg-blue border-t border-b border-blue-dark -mt-1 pt-6 pb-4 sm:pb-10 sm:pt-10 px-4 md:px-20">
            {% for icon in entry.icons.all() %}
                {% if loop.index == "1" %}
                    <div class="hidden sm:block w-full sm:w-1/3 px-8 mb-2 sm:mb-0">
                        <div>
                            {% include 'icons/friendship' %}
                        </div>
                        <p class="text-md sm:text-sm text-white pt-4">
                            {{ icon.description }}
                        </p>
                    </div>
                {% elseif loop.index == "2" %}
                    <div class="w-full sm:w-1/3 px-8 mb-2 sm:mb-0">
                        <div>
                            <h1 class="text-white sm:hidden pb-4">{{ siteName }}</h1>
                            {% include 'icons/mountain' %}
                        </div>
                        <p class="text-sm text-white pt-4">
                            {{ icon.description }}
                        </p>
                    </div>
                {% elseif loop.index == "3" %}
                    <div class="hidden sm:block w-full sm:w-1/3 px-8 mb-2 sm:mb-0">
                        <div>
                            {% include 'icons/medical' %}
                        </div>
                        <p class="text-md sm:text-sm text-white pt-4">
                            {{ icon.description }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <section class="flex flex-wrap px-4 md:px-20 py-16">
        <div class="w-full md:w-2/3">
            <h2 class="text-3xl uppercase font-bold">Our Treks</h2>
            <div class="border-blue border-t-5 w-8 my-4"></div>
                {{ entry.paragraph|nl2br|retconAttr('p', { class: 'text-lg md:text-2xl leading-normal text-black max-w-sm' })|retconAttr('a', { class: 'text-black font-bold no-underline hover:text-blue' }) }}
        </div>
        <div class="flex align w-full md:w-1/3 justify-end items-end pt-8 md:pt-0">
            <button class="button button--prev bg-blue text-white leading-zero outline-none hover:bg-blue-darkest focus:outline-none mr-2 pl-4 pr-3 py-2"><img src="/assets/img/right-arrow.svg" alt="previous" /></button>
            <button class="button button--next bg-blue text-white leading-zero outline-none hover:bg-blue-darkest focus:outline-none ml-2 pl-4 pr-3 py-2"><img src="/assets/img/right-arrow.svg" alt="next" /></button>
        </div>

        <div class="slider w-full pt-10">
            {% set treks = craft.entries.section('treks') %}
            {% for trek in treks.all() %}
                {% if loop.first %}
                    <div class="w-64 xl:w-80 mr-3">
                        <a href="{{ trek.url }}" class="no-underline">
                            {% set trekImage = trek.landingImage.one() %}
                            <img src="{{ trekImage.getUrl('standard') }}" class="w-full" alt="{{ trek.title }}" title="{{ trek.title }}" />
                                <div class="w-full h-1-2 bg-blue -mt-1"></div>
                            <h4 class="font-bold text-black font-base pt-2">{{ trek.title }}</h4>
                            <p class="text-sm leading-normal text-black py-2">
                                {{ trek.blurb }}
                            </p>
                            {% for summary in trek.summary.all() %}
                                <h5 class="text-sm text-blue uppercase">{{ summary.cost }}</h5>
                            {% endfor %}
                        </a>
                    </div>
                {% elseif loop.last %}
                    <div class="w-64 xl:w-80 ml-3">
                        <a href="{{ trek.url }}" class="no-underline">
                            {% set trekImage = trek.landingImage.one() %}
                            <img src="{{ trekImage.getUrl('standard') }}" class="w-full" alt="{{ trek.title }}" title="{{ trek.title }}" />
                                <div class="w-full h-1-2 bg-blue -mt-1"></div>
                            <h4 class="font-bold text-black font-base pt-2">{{ trek.title }}</h4>
                            <p class="text-sm leading-normal text-black py-2">
                                {{ trek.blurb }}
                            </p>
                            {% for summary in trek.summary.all() %}
                                <h5 class="text-sm text-blue uppercase">{{ summary.cost }}</h5>
                            {% endfor %}
                        </a>
                    </div>
                {% else %}
                    <div class="w-64 xl:w-80 mx-3">
                        <a href="{{ trek.url }}" class="no-underline">
                            {% set trekImage = trek.landingImage.one() %}
                            <img src="{{ trekImage.getUrl('standard') }}" class="w-full" alt="{{ trek.title }}" title="{{ trek.title }}" />
                                <div class="w-full h-1-2 bg-blue -mt-1"></div>
                            <h4 class="font-bold text-black font-base pt-2">{{ trek.title }}</h4>
                            <p class="text-sm leading-normal text-black py-2">
                                {{ trek.blurb }}
                            </p>
                            {% for summary in trek.summary.all() %}
                                <h5 class="text-sm text-blue uppercase">{{ summary.cost }}</h5>
                            {% endfor %}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    {% if entry.inPageCta|length %}
        <section class="flex items-end leading-zero">
            <div class="w-full relative">
                {% for cta in entry.inPageCta.all() %}
                    {% set ctaImage = cta.image.one() %}
                    <img src="{{ ctaImage.getUrl('fullWidthSlim') }}" class="w-full" alt="{{ cta.ctaTitle }}" title="{{ cta.ctaTitle }}" />
                    <div class="prompt w-full relative lg:absolute leading-normal pin-b px-4 md:pl-20 py-6 lg:py-12 pr-20">
                        <h1 class="text-2xl md:text-4-5xl text-black lg:text-white font-bold uppercase {% if cta.ctaSentence|length %}pb-4{% endif %}">{{ cta.ctaTitle }}</h1>
                        {% if cta.ctaSentence|length %}
                            <p class="max-w-sm text-sm leading-normal text-black lg:text-white">
                                {{ cta.ctaSentence }}
                            </p>
                        {% endif %}
                        {% set entryLink = cta.ctaLink.one() %}
                        <div class="w-full">
                            <a href="{{ entryLink.url }}" class="inline-block px-6 py-3 border-2 border-blue lg:border-white no-underline uppercase text-xs md:text-upper-sm text-blue hover:bg-white hover:border-blue-darker hover:text-black lg:text-white mt-6">{{ cta.linkText }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {% set communityProjects = craft.entries.section('communityProject').limit(2) %}
    {% set projectLength = communityProjects|length %}

    {% if projectLength >= 1 %}
        <section class="flex flex-wrap px-4 md:px-20 py-16">
            <div class="w-full md:w-1/2">
                <h2 class="text-3xl uppercase font-bold">Our Community Projects</h2>
                <div class="border-blue border-t-5 w-8 my-4"></div>
                {% set community = craft.entries.section('communityProjects').one() %}
                {% if community.paragraph|length %}
                    {{ community.paragraph|nl2br|retconAttr('p', { class: 'text-sm leading-loose text-black' })|retconAttr('a', { class: 'text-black font-bold no-underline hover:text-blue' }) }}
                {% endif %}
            </div>
            <div class="hidden md:block w-1/2">
            </div>

            {% for projects in communityProjects.all() %}
                {% if loop.first %}
                    <div class="w-full md:w-1/2 pt-10 md:pr-4">
                        {% set image = projects.landingImage.one() %}
                        <img src="{{ image.getUrl('standard') }}" class="w-full" alt="{{ projects.title }}" title="{{ projects.title }}" />
                        <h4 class="font-bold font-base pt-2">{{ projects.title }}</h4>
                        <p class="text-sm leading-normal text-black py-2">
                            {{ projects.intro }}
                        </p>
                        <h5 class="text-sm text-blue uppercase"><a href="{{ projects.url }}" class="text-blue no-underline border-b border-white hover:border-blue">Find out more <img src="/assets/img/right-caret.svg" class="inline-block -mb-tiny pl-1" /></a></h5>
                    </div>
                {% else %}
                    <div class="w-full md:w-1/2 pt-10 md:pl-4">
                        {% set image = projects.landingImage.one() %}
                        <img src="{{ image.getUrl('standard') }}" class="w-full" alt="{{ projects.title }}" title="{{ projects.title }}" />
                        <h4 class="font-bold font-base pt-2">{{ projects.title }}</h4>
                        <p class="text-sm leading-normal text-black py-2">
                            {{ projects.intro }}
                        </p>
                        <h5 class="text-sm text-blue uppercase"><a href="{{ projects.url }}" class="text-blue no-underline border-b border-white hover:border-blue">Find out more <img src="/assets/img/right-caret.svg" class="inline-block -mb-tiny pl-1" /></a></h5>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
    {% endif %}

{% endblock %}
