{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex flex-wrap px-20 py-16">
        <div class="w-3/4 leading-loose mt-26 pb-20">
            {{ entry.paragraph|retconAttr('ul, ol', { class: 'py-6' }) }}
        </div>
    </section>

{% endblock %}
