{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex items-end">
        <div class="w-full mt-18 md:mt-16">

            <div class="w-full relative leading-zero bg-blue">
                {% set image = entry.landingImage.one() %}
                <img src="{{ image.getUrl('fullWidthSlim') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}" />
                <div class="prompt w-full lg:absolute lg:pin-b pin-b leading-tight px-4 md:px-20 py-4 sm:py-8 md:py-12">
                    <h1 class="text-xl sm:text-2xl md:text-4-5xl text-white font-bold uppercase lg:pb-4">Meet Our Team</h1>
                </div>
            </div>

        </div>
    </section>

    <section class="flex flex-wrap sm:flex-no-wrap justify-center px-4 md:px-20 py-16">
        <div class="flex flex-wrap w-full text-center justify-center pb-12">
            <h2 class="w-full text-3xl uppercase font-bold">Management Team</h2>
            <div class="border-blue border-t-5 w-8 my-4"></div>
        </div>
        {% set teams = craft.entries.section('teamMembers') %}
        {% for team in teams.all() %}
            {% if team.memberType == "management" %}
                {% if loop.first %}
                    <div class="w-full justify-center text-center px-4 pb-20">
                        {% if team.profileImage|length %}
                            {% set image = team.profileImage.one() %}
                            <img src="{{ image.getUrl('profile') }}" class="rounded-full max-w-profile" alt="{{ team.title }}" title="{{ team.title }}" />
                        {% endif %}
                        <h3 class="font-bold leading-normal text-black font-base py-4">{{ team.title }}{% if team.titleExtension|length %}<br />{{ team.titleExtension }}{% endif %}</h3>
                        <div class="w-full flex justify-center">
                            <p class="text-sm leading-normal max-w-lg text-black">
                                {{ team.profile|nl2br }}
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="w-full sm:w-1/2 md:w-1/3 text-center px-4 pb-12">
                        {% if team.profileImage|length %}
                            {% set image = team.profileImage.one() %}
                            <img src="{{ image.getUrl('profile') }}" class="rounded-full max-w-profile" alt="{{ team.title }}" title="{{ team.title }}" />
                        {% endif %}
                        <h3 class="font-bold leading-normal text-black font-base py-4">{{ team.title }}{% if team.titleExtension|length %}<br />{{ team.titleExtension }}{% endif %}</h3>
                        <p class="text-sm leading-normal text-black">
                            {{ team.profile|nl2br }}
                        </p>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>

    <section class="flex flex-wrap justify-center bg-grey px-4 md:px-20 py-16">
        <div class="flex flex-wrap w-full text-center justify-center pb-12">
            <h2 class="w-full text-3xl uppercase font-bold">Medical Team</h2>
            <div class="border-blue border-t-5 w-8 my-4"></div>
        </div>
        {% set teams = craft.entries.section('teamMembers') %}
        {% for team in teams.all() %}
            {% if team.memberType == "medical" %}
                <div class="w-full sm:w-1/2 md:w-1/3 text-center px-4 pb-12">
                    {% if team.profileImage|length %}
                        {% set image = team.profileImage.one() %}
                        <img src="{{ image.getUrl('profile') }}" class="rounded-full max-w-profile" alt="{{ team.title }}" title="{{ team.title }}" />
                    {% endif %}
                    <h3 class="font-bold leading-normal text-black font-base py-4">{{ team.title }}{% if team.titleExtension|length %}<br />{{ team.titleExtension }}{% endif %}</h3>
                    <p class="text-sm leading-normal text-black">
                        {{ team.profile|nl2br }}
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <section class="flex flex-wrap justify-center px-4 md:px-20 py-16">
        <div class="flex flex-wrap w-full text-center justify-center pb-12">
            <h2 class="w-full text-3xl uppercase font-bold">Trek Leaders</h2>
            <div class="border-blue border-t-5 w-8 my-4"></div>
        </div>
        {% set teams = craft.entries.section('teamMembers') %}
        {% for team in teams.all() %}
            {% if team.memberType == "trekLeaders" %}
                <div class="w-full sm:w-1/2 md:w-1/3 text-center px-4 pb-12">
                    {% if team.profileImage|length %}
                        {% set image = team.profileImage.one() %}
                        <img src="{{ image.getUrl('profile') }}" class="rounded-full max-w-profile" alt="{{ team.title }}" title="{{ team.title }}" />
                    {% endif %}
                    <h3 class="font-bold leading-normal text-black font-base py-4">{{ team.title }}{% if team.titleExtension|length %}<br />{{ team.titleExtension }}{% endif %}</h3>
                    <p class="text-sm leading-normal text-black">
                        {{ team.profile|nl2br }}
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <section class="flex flex-wrap justify-center bg-grey px-4 md:px-20 py-16">
        <div class="flex flex-wrap w-full text-center justify-center pb-12">
            <h2 class="w-full text-3xl uppercase font-bold">Sherpa Guides</h2>
            <div class="border-blue border-t-5 w-8 my-4"></div>
        </div>
        {% set teams = craft.entries.section('teamMembers') %}
        {% for team in teams.all() %}
            {% if team.memberType == "sherpaGuides" %}
                <div class="w-full sm:w-1/2 md:w-1/3 text-center px-4 pb-12">
                    {% if team.profileImage|length %}
                        {% set image = team.profileImage.one() %}
                        <img src="{{ image.getUrl('profile') }}" class="rounded-full max-w-profile" alt="{{ team.title }}" title="{{ team.title }}" />
                    {% endif %}
                    <h3 class="font-bold leading-normal text-black font-base py-4">{{ team.title }}{% if team.titleExtension|length %}<br />{{ team.titleExtension }}{% endif %}</h3>
                    <p class="text-sm leading-normal text-black">
                        {{ team.profile|nl2br }}
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <section class="flex flex-wrap justify-center px-4 md:px-20 py-16">
        <div class="flex flex-wrap w-full text-center justify-center pb-12">
            <h2 class="w-full text-3xl uppercase font-bold">Head Sherpa</h2>
            <div class="border-blue border-t-5 w-8 my-4"></div>
        </div>
        {% set teams = craft.entries.section('teamMembers') %}
        {% for team in teams.all() %}
            {% if team.memberType == "headSherpa" %}
                <div class="w-full sm:w-1/2 md:w-1/3 text-center px-4 pb-12">
                    {% if team.profileImage|length %}
                        {% set image = team.profileImage.one() %}
                        <img src="{{ image.getUrl('profile') }}" class="rounded-full max-w-profile" alt="{{ team.title }}" title="{{ team.title }}" />
                    {% endif %}
                    <h3 class="font-bold leading-normal text-black font-base py-4">{{ team.title }}{% if team.titleExtension|length %}<br />{{ team.titleExtension }}{% endif %}</h3>
                    <p class="text-sm leading-normal text-black">
                        {{ team.profile|nl2br }}
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <section class="flex flex-wrap justify-center px-4 md:px-20 pt-6 pb-16 md:pb-32">
        <div class="w-full md:w-1/2 pr-6">
            <div class="w-5/6">
                {% set porterImage = entry.portersImage.one() %}
                <img src="{{ porterImage.getUrl('portrait') }}" alt="Porters" title="Porters" />
            </div>
        </div>
        <div class="w-full md:w-1/2 md:pl-6 pt-6 md:pt-0">
            <h4 class="text-3xl uppercase font-bold">Porters</h4>
            <div class="border-blue border-t-5 w-8 my-4"></div>
            <p class="text-sm leading-normal text-black">
                {{ entry.portersInformation|nl2br }}
            </p>
        </div>
    </section>

{% endblock %}
