{% extends 'layouts/layout' %}

{% block content %}

    {% set contact = craft.entries.section('contactUs').one() %}

    <section class="flex w-full pt-26 bg-blue min-h-contact" {% if contact.landingImage|length %}style="background: url('{{ contact.landingImage.one().getUrl('landscape') }}') no-repeat; background-position: center top; background-size: cover;"{% endif %}>
        <div class="hidden md:block md:w-1/4">
        </div>
        <div class="flex flex-wrap w-full md:w-1/2 bg-grey text-center items-center p-10 mx-4 md:mx-0 mt-32 md:mt-48 mb-32 px-4 md:px-20">
            <div class="flex flex-wrap w-full justify-center">
                <h1 class="text-2xl text-center font-bold text-black uppercase text pb-6">{{ entry.title }}</h1>
                {{ entry.paragraph|nl2br|retconAttr('p', { class: 'text-sm leading-loose text-black' })|retconAttr('a', { class: 'text-black font-bold no-underline hover:text-blue' }) }}
            </div>
        </div>
        <div class="hidden md:block md:w-1/4">
        </div>
    </section>

{% endblock %}
