{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex items-end">
        <div class="w-full mt-18 md:mt-16">

            <div class="w-full relative leading-zero bg-blue">
                {% set image = entry.landingImage.one() %}
                <img src="{{ image.getUrl('fullWidthSlim') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}" />
                <div class="prompt w-full lg:absolute lg:pin-b pin-b leading-tight px-4 md:px-20 py-4 sm:py-8 md:py-12">
                    <h1 class="text-xl sm:text-2xl md:text-4-5xl text-white font-bold uppercase lg:pb-4">Our Treks</h1>
                </div>
            </div>

        </div>
    </section>

    <section class="flex flex-wrap px-4 md:px-20 py-16">
        <div class="w-full md:w-1/2">
            {{ entry.paragraph|nl2br|retconAttr('p', { class: 'text-lg md:text-2xl leading-normal text-black max-w-sm' })|retconAttr('a', { class: 'text-black font-bold no-underline hover:text-blue' }) }}
        </div>

        <div class="flex flex-wrap w-full pt-10">
            {% set treks = craft.entries.section('treks') %}
            {% for trek in treks.all() %}
                <div class="w-full md:w-1/2 lg:w-1/3">
                    <div class="mx-3 mb-12">
                        <a href="{{ trek.url }}" class="no-underline">
                            {% set trekImage = trek.landingImage.one() %}
                            <img src="{{ trekImage.getUrl('standard') }}" class="w-full" alt="{{ trek.title }}" title="{{ trek.title }}" />
                                <div class="w-full h-1-2 bg-blue -mt-1"></div>
                            <h4 class="font-bold text-black font-base pt-2">{{ trek.title }}</h4>
                            <p class="text-sm leading-normal text-black py-2">
                                {{ trek.blurb }}
                            </p>
                            {% for summary in trek.summary.all() %}
                                <h5 class="text-sm text-blue uppercase">{{ summary.cost }}</h5>
                            {% endfor %}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
