<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#264a9f">
    <meta name="msapplication-TileColor" content="#264a9f">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    {# Cachebust the CSS/JS #}
    {% set assetVersion = 0.0096 %}

    {# CSS #}
    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}
    {% do view.registerCssFile("/assets/css/flickity.css") %}
</head>
<body class="{{ entry is defined ? entry.title|lower : "everest-treks" }}-page font-sans tracking-wide overflow-x-hidden">

    {% include 'includes/header' %}

    <main class="">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer' %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}
    <script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
</body>
</html>
