{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex items-end">
        <div class="w-full mt-18 md:mt-16">

            <div class="w-full relative leading-zero bg-blue">
                {% set image = entry.landingImage.one() %}
                <img src="{{ image.getUrl('slim') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}" />
            </div>

        </div>
    </section>

    <section class="flex flex-wrap px-4 md:px-20 py-8 md:py-16">
        <div class="w-full md:w-3/5 pr-6">
            <h1 class="text-3xl md:text-4xl uppercase font-bold">{{ entry.title }}</h1>
            <div class="flex align-top	">
                <div class="w-auto">
                    <h3 class="font-bold pt-3 pb-4">Fitness Level:</h3>
                </div>
                <div class="w-auto pl-3 pt-3 pb-4">
                    {% for summary in entry.summary.all() %}
                        {% if summary.degreeOfDifficulty.value == "easy" %}
                            {% include 'icons/footprints' %}<span class="opacity-50">{% include 'icons/footprints' %}</span><span class="opacity-50">{% include 'icons/footprints' %}</span><span class="opacity-50">{% include 'icons/footprints' %}</span><span class="opacity-50">{% include 'icons/footprints' %}</span>
                        {% elseif summary.degreeOfDifficulty.value == "easyToModerate" %}
                            {% include 'icons/footprints' %}{% include 'icons/footprints' %}<span class="opacity-50">{% include 'icons/footprints' %}</span><span class="opacity-50">{% include 'icons/footprints' %}</span><span class="opacity-50">{% include 'icons/footprints' %}</span>
                        {% elseif summary.degreeOfDifficulty.value == "moderate" %}
                            {% include 'icons/footprints' %}{% include 'icons/footprints' %}{% include 'icons/footprints' %}<span class="opacity-50">{% include 'icons/footprints' %}</span><span class="opacity-50">{% include 'icons/footprints' %}</span>
                        {% elseif summary.degreeOfDifficulty.value == "moderateToDifficult" %}
                            {% include 'icons/footprints' %}{% include 'icons/footprints' %}{% include 'icons/footprints' %}{% include 'icons/footprints' %}<span class="opacity-50">{% include 'icons/footprints' %}</span>
                        {% elseif summary.degreeOfDifficulty.value == "difficult" %}
                            {% include 'icons/footprints' %}{% include 'icons/footprints' %}{% include 'icons/footprints' %}{% include 'icons/footprints' %}{% include 'icons/footprints' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <p class="text-sm leading-normal text-black pr-8 md:pr-20">
                {{ entry.introduction|nl2br }}
            </p>
            <h4 class="text-2xl uppercase py-10">Day by Day</h4>
            {% for day in entry.itinerary.all() %}

                <div class="flex w-full py-6 border-grey border-t">
                    <div class="icon w-6 h-6 min-w-6 border-blue rounded-full border-2 mr-2">
                        <p class="text-xs-plus text-blue text-center font-semibold pt-1">
                            {{ loop.index }}
                        </p>
                    </div>
                    <div class="w-auto">
                        <h4 class="font-bold text-sm pt-1">{{ day.headline }}</h4>
                        <div class="flex w-full">
                            {% if day.walkingDistance|length %}
                                <div class="w-auto pr-6 pt-3">
                                    <p class="text-grey-darker">
                                        Walking Distance: {{ day.walkingDistance }}
                                    </p>
                                </div>
                            {% endif %}
                            {% if day.totalAscend|length %}
                                <div class="w-auto pt-3">
                                    <p class="text-grey-darker">
                                        Total Ascend: {{ day.totalAscend }}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                        <p class="text-sm leading-normal text-black py-2">
                            {{ day.paragraph|nl2br }}
                        </p>
                    </div>
                </div>

            {% endfor %}

        </div>
        <div class="w-full md:w-2/5">
            <div class="flex flex-wrap bg-grey px-6 py-8 md:p-12">
                <div class="flex w-full justify-center">
                    <h2 class="text-2xl text-center font-bold uppercase pb-6">Trip Summary</h2>
                </div>

                {% for summary in entry.summary.all() %}
                    <div class="flex w-full details pt-8">
                        <div class="icon w-6 h-6 mr-2">
                            {% include 'icons/trip-duration' %}
                        </div>
                        <div class="w-auto">
                            <h4 class="font-bold text-sm uppercase">Trip Duration:</h4>
                            <p class="text-sm leading-normal text-black">
                                {{ summary.tripDuration }}
                            </p>
                        </div>
                    </div>
                    <div class="flex w-full details pt-8">
                        <div class="icon w-6 h-6 mr-2">
                            {% include 'icons/highest-point' %}
                        </div>
                        <div class="w-auto">
                            <h4 class="font-bold text-sm uppercase">Highest Point Achieved:</h4>
                            <p class="text-sm leading-normal text-black">
                                {{ summary.highestPointAchieved }}
                            </p>
                        </div>
                    </div>
                    <div class="flex w-full details pt-8">
                        <div class="icon w-6 h-6 mr-2">
                            {% include 'icons/maximum' %}
                        </div>
                        <div class="w-auto">
                            <h4 class="font-bold text-sm uppercase">Maximum Trekkers per Group:</h4>
                            <p class="text-sm leading-normal text-black">
                                {{ summary.maximumTrekkersPerGroup }}
                            </p>
                        </div>
                    </div>
                    <div class="flex w-full details pt-8">
                        <div class="icon w-6 h-6 mr-2">
                            {% include 'icons/cost' %}
                        </div>
                        <div class="w-auto">
                            <h4 class="font-bold text-sm uppercase">Cost:</h4>
                            <p class="text-sm leading-normal text-black">
                                {{ summary.cost }}
                            </p>
                        </div>
                    </div>
                    <div class="flex w-full details pt-8">
                        <div class="icon w-6 h-6 mr-2">
                            {% include 'icons/difficulty' %}
                        </div>
                        <div class="w-auto">
                            <h4 class="font-bold text-sm uppercase">Degree of difficulty:</h4>
                            <p class="text-sm leading-normal text-black">
                                {{ summary.degreeOfDifficulty.label }}
                            </p>
                        </div>
                    </div>
                    <div class="flex w-full details pt-8">
                        <div class="icon w-6 h-6 mr-2">
                            {% include 'icons/next-trips' %}
                        </div>
                        <div class="w-auto">
                            <h4 class="font-bold text-sm uppercase">Next Trips:</h4>
                            <p class="text-sm leading-normal text-black">
                                {{ summary.nextTrips }}
                            </p>
                        </div>
                    </div>
                {% endfor %}

                <a href="/contact-us" class="w-full bg-blue text-xs-plus text-center no-underline font-semibold tracking-wide text-white uppercase py-3 ml-8 mt-12">Contact Us</a>

            </div>
        </div>
    </section>

    {% if entry.gallery|length %}

    <div class="w-full pb-16 text-center">
        <h3 class="text-2xl uppercase py-0">Gallery</h3>
    </div>

    <div class="flex align w-full absolute justify-between items-end mt-buttons z-40">
        <button class="button button--prev bg-white text-blue leading-zero outline-none hover:bg-white focus:outline-none mr-2 pl-4 pr-3 py-2"><img src="/assets/img/right-arrow-blue.svg" alt="previous" /></button>
        <button class="button button--next bg-white text-blue leading-zero outline-none hover:bg-white focus:outline-none ml-2 pl-4 pr-3 py-2"><img src="/assets/img/right-arrow-blue.svg" alt="next" /></button>
    </div>

    <section class="slider w-full pt-10 pb-32">
        {% for slide in entry.gallery.all() %}

            {% if slide.type == "singleImage" %}

            {% set singleImage = slide.image.one() %}
            {% set mode = (singleImage.getWidth() > singleImage.getHeight()) ? "landscape" : "portrait" %}

            {% if mode == "landscape" %}
                <div class="flex justify-center w-gallery-landscape mx-4">
                    <img src="{{ singleImage.getUrl('galleryLandscape') }}" class="w-auto h-96" alt="{{ entry.title }}" title="{{ entry.title }}" />
                </div>
            {% elseif mode == "portrait" %}
                <div class="flex justify-center w-gallery-portrait mx-4">
                    <img src="{{ singleImage.getUrl('galleryPortrait') }}" class="w-auto h-96" alt="{{ entry.title }}" title="{{ entry.title }}" />
                </div>
            {% endif %}

            {% elseif slide.type == "doubleImage" %}

                <div class="flex flex-wrap justify-center w-gallery-portrait mx-4">
                    <div class="pb-gallery-space">
                        {% set firstImage = slide.firstImage.one() %}
                        <img src="{{ firstImage.getUrl('galleryLandscape') }}" class="w-auto h-46" alt="{{ entry.title }}" title="{{ entry.title }}" />
                    </div>
                    <div class="pt-gallery-space">
                        {% set secondImage = slide.secondImage.one() %}
                        <img src="{{ secondImage.getUrl('galleryLandscape') }}" class="w-auto h-46" alt="{{ entry.title }}" title="{{ entry.title }}" />
                    </div>
                </div>

            {% endif %}

        {% endfor %}

    </section>

    {% endif %}

    {% if entry.information|length %}
        <section class="flex flex-wrap w-full bg-grey justify-center pt-16 pb-6 md:pb-32">
            <div class="w-full pb-16 text-center">
                <h3 class="text-2xl uppercase py-0">More information</h3>
            </div>
            <ul class="accordion list-reset w-full max-w-md justify-center">
                {% for info in entry.information.all() %}
                    <li class="bg-white relative p-6 mb-6">
                        <h4 class="toggle w-full relative inline-block items-center cursor-pointer"><span class="accordion-icon absolute pin-r block">{% include 'icons/accordion-arrow' %}</span>{{ info.informationTitle }}</h4>
                        <div class="inner leading-normal pt-2 pb-6">
                            {{ info.informationParagraph|nl2br }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

{% endblock %}
