/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

@screen lg{
    .prompt{
        background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7));
    }
}

.landing-slider .flickity-page-dots {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: auto;
    left: 1rem;
    right: 1rem;
    bottom: 2rem;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

@screen md{
    .landing-slider .flickity-page-dots{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: auto;
        bottom: 3rem;
        left: 5rem;
        right: 5rem;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        line-height: 1;
    }
    .landing-slider .flickity-page-dots .dot{
        border: 2px solid config('colors.white');
    }
    .landing-slider .flickity-page-dots .dot.is-selected{
        background: config('colors.white');
    }
}

.landing-slider .flickity-page-dots .dot{
    opacity: 1;
    border: 2px solid config('colors.blue');
    background: config('colors.transparent');
    border-radius: 0;
}

.landing-slider .flickity-page-dots .dot.is-selected{
    opacity: 1;
    background: config('colors.blue');
}

.slider .flickity-viewport{
    overflow: visible;
}

.button--prev{
    transform: rotate(180deg);
}

.inner{
    overflow: hidden;
    display: none;
}

.accordion-icon{
    transform-origin: center center;
    transition: transform .4s ease;
}

.spin .accordion-icon{
    transform: rotate(180deg);
    transform-origin: center center;
    transition: transform .4s ease;
}

#contact-form select{
    background: url('/assets/img/down-caret.svg') no-repeat;
    background-color: config('colors.white');
    background-position: center right 1rem;
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
