<footer class="flex flex-wrap w-full -mt-1">
    <div class="flex flex-wrap w-full bg-grey px-4 md:px-20 py-12 md:py-20">
        <div class="w-32 md:w-1/6 pb-6 pl-4 md:pl-0 md:pb-0 md:pr-16 md:pt-2">
            <a href="/">
                <img src="/assets/img/everest-treks-round.svg" class="w-auto" />
                {#{% include 'icons/everest-treks-round' %}#}
            </a>
        </div>
        <nav class="flex flex-wrap w-5/6 list-reset leading-loose sm:leading-nav text-sm">
            <li class="w-full md:w-1/3 font-bold uppercase px-4 pr-6">
                <a href="/treks" class="text-blue no-underline">Treks</a>
                <ul class="list-reset capitalize pb-6">
                    {% set treks = craft.entries.section('treks') %}
                    {% for trek in treks.all() %}

                        <li>
                            - <a href="{{ trek.url }}" class="text-blue no-underline">{{ trek.title }}</a>
                        </li>

                    {% endfor %}
                </ul>
            </li>
            {#<li class="w-full md:w-1/3 font-bold uppercase px-4 pr-6">
                <a href="/nepal" class="text-blue no-underline">Nepal</a>
                <ul class="list-reset capitalize pb-6">
                    {% set treks = craft.entries.section('nepal') %}
                    {% for trek in treks.all() %}

                        <li>
                            - <a href="{{ trek.url }}" class="text-blue no-underline">{{ trek.title }}</a>
                        </li>

                    {% endfor %}
                </ul>
            </li>#}
            <li class="w-full md:w-1/3 font-bold uppercase px-4 pr-6">
                <a href="/community-projects" class="text-blue no-underline">Community Projects</a>
                <ul class="list-reset capitalize pb-6">
                    {% set communityProjects = craft.entries.section('nepal') %}
                    {% for project in communityProjects.all() %}

                        <li>
                            - <a href="{{ project.url }}" class="text-blue no-underline">{{ project.title }}</a>
                        </li>

                    {% endfor %}
                </ul>
            </li>
            <li class="w-full md:w-1/3 font-bold uppercase px-4 pr-6">
                <ul class="list-reset pb-6">
                    <li>
                        <a href="/team" class="text-blue no-underline">Team</a>
                    </li>
                    <li>
                        <a href="/contact-us" class="text-blue no-underline">Contact Us</a>
                    </li>
                </ul>
            </li>
        </nav>
        <div class="w-1/6">
        </div>
        <ul class="w-5/6 list-reset text-sm pt-8">
            <li class="w-full font-bold uppercase px-4 pr-6">
                <p class="text-grey-darker">
                    Social
                </p>
                <ul class="w-full list-reset pt-8 pb-6">
                    {% if social.facebook|length %}
                        <li class="inline-block pr-3">
                            <a href="{{ social.facebook }}" target="_blank" rel="noreferrer noopener">
                                {% include 'icons/facebook' %}
                            </a>
                        </li>
                    {% endif %}
                    {% if social.youtube|length %}
                        <li class="inline-block pr-3">
                            <a href="{{ social.youtube }}" target="_blank" rel="noreferrer noopener">
                                {% include 'icons/youtube' %}
                            </a>
                        </li>
                    {% endif %}
                    {% if social.instagram|length %}
                        <li class="inline-block pr-3">
                            <a href="{{ social.instagram }}" target="_blank" rel="noreferrer noopener">
                                {% include 'icons/instagram' %}
                            </a>
                        </li>
                    {% endif %}
                    {% if social.twitter|length %}
                        <li class="inline-block">
                            <a href="{{ social.twitter }}" target="_blank" rel="noreferrer noopener">
                                {% include 'icons/twitter' %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="w-full text-center px-6 py-3">
        <p class="text-xs-plus leading-normal">
            <a href="/privacy-terms" class="text-black">Privacy Policy - Terms &amp; Conditions</a> - &copy; {{ siteName }} Ltd {{ now|date('Y') }}
        </p>
    </div>
</footer>
