<header class="flex flex-wrap w-full absolute border-b border-blue-o z-40">
    {% if announcements.message.hideShow %}
        <section class="hidden sm:block w-full bg-blue text-white text-center px-6 py-2">
            {% if announcements.message.messageLink|length %}
                <a href="{{ announcements.message.messageLink }}">
                    <p class="text-sm font-light">
                        {{ announcements.message.message }}
                    </p>
                </a>
            {% else %}
                <p class="text-sm font-light">
                    {{ announcements.message.message }}
                </p>
            {% endif %}
        </section>
    {% else %}
        {# No announcement #}
    {% endif %}
    <nav class="hidden md:flex w-full items-center bg-white list-reset text-sm text-center px-4 lg:px-20 py-4">
        <li class="flex-auto text-left pr-4">
            <a href="{{ siteUrl }}" class="inline-block">
                {#<img src="/assets/img/everest-treks.png" class="w-50" alt="{{ siteName }}" title="{{ siteName }}" />#}
                {% include 'icons/everest-treks' %}
            </a>
        </li>
        <li id="treks" class="inline-block flex-auto text-left px-4">
            <a href="/treks" class="text-black no-underline">Treks <img src="/assets/img/down-caret.svg" /></a>
            <ul class="trekMenu hidden absolute list-reset bg-white leading-nav z-50 -ml-5 px-5 pt-2 pr-8 pb-6">
                {% set treks = craft.entries.section('treks') %}
                {% for trek in treks.all() %}

                    <li>
                        <a href="{{ trek.url }}" class="text-black no-underline">{{ trek.title }}</a>
                    </li>

                {% endfor %}
            </ul>
        </li>
        <li class="flex-auto text-left px-4">
            <a href="/team" class="text-black no-underline">Team</a>
        </li>
        {#<li id="nepal" class="hidden md:inline-block flex-auto text-left px-4">
            <a href="/nepal" class="text-black no-underline">Nepal <img src="/assets/img/down-caret.svg" /></a>
            <ul class="nepalMenu hidden absolute list-reset bg-white leading-nav z-50 -ml-5 px-5 pt-2 pr-8 pb-6">
                {% set treks = craft.entries.section('nepal') %}
                {% for trek in treks.all() %}

                    <li>
                        <a href="{{ trek.url }}" class="text-black no-underline">{{ trek.title }}</a>
                    </li>

                {% endfor %}
            </ul>
        </li>#}
        <li class="flex-auto text-left px-4">
            <a href="/community-projects" class="text-black no-underline">Community Projects</a>
        </li>
        <li class="flex-auto font-bold text-upper-sm text-right uppercase pl-4">
            <a href="/contact-us" class="text-blue no-underline">Contact Us <img src="/assets/img/right-caret.svg" class="inline-block -mb-tiny" /></a>
        </li>
    </nav>
    <nav class="md:hidden flex w-full items-center bg-white list-reset text-sm text-center px-4 lg:px-20 py-4">
        <li class="w-1/3 text-left cursor-pointer">
            <div class="mobileButton">
                {% include 'icons/menu' %}
            </div>
        </li>
        <li class="w-1/3">
            <a href="/" class="inline-block">
                {% include 'icons/everest-treks-icon' %}
            </a>
        </li>
        <li class="w-1/3 text-right">
            <a href="mailto:{{ contact.email }}" class="inline-block">
                {% include 'icons/email' %}
            </a>
        </li>
    </nav>
    <li class="mobileMenu w-full hidden">
        <ul class="flex flex-wrap absolute pin-l pin-t pin-r mt-mobile-nav bg-white w-full font-bold text-lg border-b-4 border-blue leading-nav list-reset pt-0 pb-12">
            <li class="w-full text-left px-4">
                <a href="/treks" class="text-black no-underline">Treks</a>
            </li>
            {#<li class="w-full text-left px-4">
                <a href="/nepal" class="text-black no-underline">Nepal</a>
            </li>#}
            <li class="w-full text-left px-4">
                <a href="/team" class="text-black no-underline">Team</a>
            </li>
            <li class="w-full text-left px-4">
                <a href="/community-projects" class="text-black no-underline">Community Projects</a>
            </li>
            <li class="w-full text-left px-4">
                <a href="/contact-us" class="text-blue no-underline">Contact Us <img src="/assets/img/right-caret.svg" class="inline-block -mb-tiny" /></a>
            </li>
        </ul>
    </li>
</header>
