{% extends 'layouts/layout' %}

{% block content %}

    <section class="text-center py-32">
        <h2 class="text-blue text-4xl font-bold pt-32">404</h2>
        <h4 class="text-xl font-normal pb-32">Page not found</h4>
    </section>

{% endblock %}
