{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex items-end">
        <div class="w-full mt-26">

            <div class="w-full relative leading-zero bg-blue">
                {% set image = entry.landingImage.one() %}
                <img src="{{ image.getUrl('slim') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}" />
                <div class="w-1/2 absolute pin-b leading-tight px-4 md:px-20 py-8 md:py-12">
                    <h1 class="text-2xl md:text-4-5xl text-white font-bold uppercase md:pb-4">{{ entry.title }}</h1>
                </div>
            </div>

        </div>
    </section>

    {% for block in entry.contentBlocks.all() %}
        {% if block.type == "imageText" %}
            <section class="flex flex-wrap px-4 md:px-20 pt-6 md:pt-16 pb-8 md:pb-20">
                {% if block.alignment %}
                    <div class="w-full sm:w-2/3 md:w-1/2 pt-6 md:pt-0">
                        {# text-sm leading-normal text-black #}
                        {{ block.paragraph|retconAttr('p', { class: 'text-sm leading-loose text-black' })|retconAttr('a', { class: 'text-black underline' })|retconAttr('ul, ol', { class: 'py-4' })|retconAttr('li', { class: 'text-sm leading-loose' }) }}
                    </div>
                    <div class="flex w-full md:w-1/2">
                        <div class="w-1/6">
                        </div>
                        <div class="w-5/6 pt-6 md:pt-0">

                            {% set image = block.image.one() %}
                            {% set mode = (image.getWidth() > image.getHeight()) ? "landscape" : "portrait" %}

                            {% if mode == "landscape" %}
                                <img src="{{ image.getUrl('landscape') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}" />
                            {% else %}
                                <img src="{{ image.getUrl('portrait') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}" />
                            {% endif %}

                        </div>
                    </div>
                {% else %}
                    <div class="w-full md:w-1/2">
                        <div class="w-5/6 pt-6 md:pt-0">
                            {% set image = block.image.one() %}
                            {% set mode = (image.getWidth() > image.getHeight()) ? "landscape" : "portrait" %}

                            {% if mode == "landscape" %}
                                <img src="{{ image.getUrl('landscape') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}" />
                            {% else %}
                                <img src="{{ image.getUrl('portrait') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-full sm:w-2/3 md:w-1/2 pt-6 md:pt-0">
                        {{ block.paragraph|retconAttr('p', { class: 'text-sm leading-loose text-black' })|retconAttr('a', { class: 'text-black underline' })|retconAttr('ul, ol', { class: 'py-4' })|retconAttr('li', { class: 'text-sm leading-loose' }) }}
                    </div>
                {% endif %}
            </section>
        {% elseif block.type == "image" %}
            <section class="flex flex-wrap pt-6 md:pt-16 pb-10">
                <div class="w-full relative">
                    {% set image = block.fullWidthImage.one() %}
                    <img src="{{ image.getUrl('slim') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}" />
                </div>
            </section>
        {% elseif block.type == "paragraph" %}
            <section class="flex flex-wrap px-4 sm:px-16 md:px-40 pt-10 pb-12 md:pb-32">
                {{ block.paragraph|retconAttr('p', { class: 'text-sm leading-loose text-black' })|retconAttr('a', { class: 'text-black underline' })|retconAttr('ul, ol', { class: 'py-4' })|retconAttr('li', { class: 'text-sm leading-loose' }) }}
            </section>
        {% endif %}
        {% if loop.last %}
            <section class="pb-8 mb:pb-20">
                {# Spacer #}
            </section>
        {% endif %}
    {% endfor %}

{% endblock %}
