<svg width="12" height="8" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g fill-rule="nonzero" fill="#292929"><path d="M0 1.657L1.414.243l5.657 5.656-1.414 1.415z"/><path d="M9.9.243l1.414 1.414-5.657 5.657-1.414-1.415z"/></g></g></svg>
