<svg width="28" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M.955.119C.427.119 0 .559 0 1.102v17.705c0 .543.427.984.955.984h26.09c.528 0 .955-.44.955-.984V1.102c0-.543-.427-.983-.955-.983H.955zm2.704 1.967h20.682L14 10.662 3.66 2.086zM1.91 3.152l11.494 9.528a.933.933 0 0 0 1.194 0L26.09 3.152v14.672H1.909V3.152z" fill="#26499F" fill-rule="nonzero"/></svg>
