<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M18.897 0H1.103C.494 0 0 .494 0 1.103v17.794C0 19.506.494 20 1.103 20h9.587v-7.734H8.086V9.238h2.604V7.01c0-2.582 1.579-3.99 3.882-3.99.777-.001 1.552.038 2.325.118v2.7H15.31c-1.255 0-1.5.593-1.5 1.469v1.927h3l-.39 3.028h-2.627V20h5.104c.609 0 1.103-.494 1.103-1.103V1.103C20 .494 19.506 0 18.897 0z" fill="#264A9F" fill-rule="nonzero"/></svg>
